@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-1">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/account/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/account/Register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}