@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <a class="mx-1" href="Identity/Account/Manage/Index">
                Hi, - @context.User.Identity.Name!
            </a>
            <a class="mx-1" href="Identity/Account/Logout">
                Logout
            </a>
        </Authorized>
        <NotAuthorized>
            <a class="mx-1" href="Identity/Account/Register">Register</a>
            <a href="Identity/Account/Login">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>